<div class="container-fluid">
    <div class="page-title">

    </div>
</div>
<div class="container-fluid datatable-init">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <form [formGroup]="searchForm">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <select class="form-select" formControlName="field_type">
                                            <option>Text</option>
                                            <option>File</option>
                                            <option>Textarea</option>
                                            <option>Select</option>
                                            <option>Multi Select</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" formControlName="name"
                                            placeholder="Name">
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-primary" (click)="search()"><i
                                                class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary" (click)="openEnd(content)"><i class="fa fa-plus"
                                        aria-hidden="true"></i> Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-list [columns]="columns()" [Ngx_datatable]="table()" [pagination]="pagination()"
                        (editEvent)="edit($event)" (deleteEvent)="delete($event)" (footerpagesetEvent)="setPage($event)"
                        (onSortEvent)="setPage($event)"></app-list>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-offcanvas>
    <div class="offcanvas-header pb-0">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Attribute</h5>
        <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body custom-input">
        <form class="row g-3" [formGroup]="AddEditForm" (ngSubmit)="submit()">
            <div class="col-12">
                <label class="form-label">Name</label>
                <input class="form-control" formControlName="name" type="text" placeholder="Name">
                <app-form-error-msg [touched]="AddEditForm.get('name')?.touched"
                    [errors]="AddEditForm.get('name')?.errors || []"></app-form-error-msg>

            </div>
            <div class="col-12">
                <label class="form-label">Type</label>
                <select class="form-select" (change)="onChange($event)" formControlName="field_type">
                    <option selected=""></option>
                    <option value="text">Text</option>
                    <option value="number">Number</option>
                    <option value="select">Select</option>
                    <option value="multiselect">MultiSelct</option>
                    <option value="date">Date</option>
                    <option value="file">File</option>
                </select>
                <app-form-error-msg [touched]="AddEditForm.get('field_type')?.touched"
                    [errors]="AddEditForm.get('field_type')?.errors || []"></app-form-error-msg>
            </div>

            <div formArrayName="values" class="col-12">
                @if(enable){
                <label class="form-label">Values</label>
                @for (item of valueArray.controls; track $index; let i = $index) {
                <div class="row mt-1">
                    <div class="col-6">
                        <input [formControlName]="i" class="form-control" type="text" placeholder="Name">
                    </div>
                    <div class="col-6 d-flex justify-content-around ">
                        <button class="btn btn-primary" *ngIf="i === valueArray.controls.length - 1"
                            (click)="addValueControl()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        <button class="btn btn-danger" *ngIf="i !== valueArray.controls.length - 1"
                            (click)="removeValueControl(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                }
                }
            </div>
            <div class="col-12">
                <button class="btn btn-light me-2" (click)="offcanvas.dismiss('Cross click')" data-bs-dismiss="offcanvas"
                    aria-label="Close">Cancel</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</ng-template>