<div>
  <div class="logo-wrapper">
    <a [routerLink]="['/']">
      <img class="img-fluid for-light" src="../assets/images/logo/logo.png" alt="">
      <img class="img-fluid for-dark" src="../assets/images/logo/logo_dark.png" alt=""></a>
    <div class="back-btn">
      <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="toggle-sidebar">
      <i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
    </div>
  </div>
  <div class="logo-icon-wrapper">
    <a [routerLink]="['/']">
      <img class="img-fluid" src="../assets/images/logo/logo-icon.png" alt=""></a>
  </div>
  <nav class="sidebar-main">
    <div class="left-arrow" id="left-arrow">
      <i data-feather="arrow-left"></i>
    </div>
    <div id="sidebar-menu">
      <ul>
        <ngx-simplebar [options]="options" [className]="'sidebar-links'">
          <li></li>
          @for (sidemenu of Side_menu(); track $index) {
          <li class="sidebar-main-title">           
              <div>
                <h6>{{ sidemenu.title }}</h6>
              </div>
          </li>
          @for (menu of sidemenu.menus; track $index) {
            @if(menu.submenu.length > 0){
            <li class="sidebar-list">
              <i class="fa-solid fa-thumbtack"></i>
              <!-- <label class="badge badge-light-primary">11</label> -->
              <a class="sidebar-link sidebar-title active" href="#">              
                <svg class="fill-icon">
                  <use href="../assets/svg/icon-sprite.svg#fill-home"></use>
                </svg><span class="lan-3">{{ menu.title }}</span></a>
              <ul class="sidebar-submenu">
                @for (item of menu.submenu; track $index) {
                <li><a class="" [routerLink]="item.link" routerLinkActive="router-link-active">{{ item.title }}</a>
                </li>
                }
              </ul>
            </li>
            }
          @else {
          <li class="sidebar-list">
            <i class="fa-solid fa-thumbtack"></i>
            <a class="sidebar-link sidebar-title link-nav" [routerLink]="menu.link">              
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-file"></use>
              </svg><span>{{ menu.title }}</span>
              <div class="according-menu">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </a>
          </li>
          }
          }
          }          
        </ngx-simplebar>
      </ul>
    </div>
    <div class="right-arrow" id="right-arrow">
      <i data-feather="arrow-right"></i>
    </div>
  </nav>
</div>